DOCTYPE html
html

	head
		title Dwarf Empire
		link(rel="shortcut icon" href="https://agar3s-assets.s3.amazonaws.com/dwarfEmpire/assets/favicon.ico" type="image/x-icon")
		link(rel="icon" href="https://agar3s-assets.s3.amazonaws.com/dwarfEmpire/assets/favicon.ico" type="image/x-icon")
		link(rel='stylesheet', type='text/css', href='/style.css')

	body
		h1 loading
		h2 loading
		script(type="text/javascript" src="https://agar3s-assets.s3.amazonaws.com/dwarfEmpire/app.bundle.js")
